<div class="container">
  <h1>Пользователь</h1>

  <mat-list *ngIf="this.user">
    <mat-list-item>
      {{ user.username }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      {{ user.phoneNumber }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      {{ user.city }}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      {{ user.firstName }}
      {{ user.lastName }}
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <button mat-flat-button class="mat-button" color="primary" [routerLink]="'/users'">
    <i class="material-icons">
      arrow_back
    </i>
    назад
  </button>
</div>