<div class="product-details-wrapper" *ngIf="product">
  <app-page-header></app-page-header>
  <span class="price">{{product.price | currency : 'RUB' : 'symbol-narrow' }}</span>

  <div class="product-details-content">
    <div class="img-wrapper"><img src="{{product.pictureUrl}}" alt="цветы"></div>

    <div class="description-wrapper">
      <p><b>Тип растения: </b>{{product.type}}</p>
      <p><b>Родина: </b>{{product.region}}</p>
      <p><b>Описание: </b>{{product.description}}</p>

      <div class="product-card-footer-wrapper">
        <div class="product-card-footer">
          <div class="quantity-wrapper">
            <i class="material-icons" (click)="decrementQuantity()">
              keyboard_arrow_down
            </i>
            <a class="quantity">{{quantity}}</a>
            <i class="material-icons" (click)="incrementQuantity()">
              keyboard_arrow_up
            </i>
          </div>

          <div class="delete-button-wrapper">
            <a mat-button class="delete-button" (click)="removeItemFromBasket(product)">
              Удалить из корзины
              <i class="material-icons">
                delete
              </i>
            </a>
          </div>
        </div>
      </div>

      <div class="mat-button-wrapper">
        <a mat-button class="mat-button" (click)="addItemToBasket(product)">
          В корзину
          <mat-icon class="material-icons">
            work
          </mat-icon>
        </a>
      </div>

    </div>

  </div>



</div>