:root {
  --main-text-color: rgba(59, 57, 57, 0.808);
  --main-text-font: "IBM Plex Sans", sans-serif;
  --main-theme-color-primary-blue: #3f51b5;
  --main-theme-color-darkblue: #050070;
  --main-theme-color-error: #f44336;
  --main-theme-color-grey: #323232;
  --main-theme-color-warn: #ff4081;
  --main-theme-color-background: rgb(250, 247, 247);
  --main-font-color: rgb(6, 11, 29);

  --warn: #ff4081;
  --warn-hovered: #f51f67;
}
