@import "~@angular/material/theming";
@import "./styles/variables.scss";
@import "./styles/breadcrumb.scss";
@import "./styles/colors.scss";
@import "./styles/custom-material.scss";

@include mat-core();

$my-theme-primary: mat-palette($mat-grey, A700, A800, A900);
$my-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$my-theme-warn: mat-palette($mat-deep-orange);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);
@include angular-material-theme($my-theme);

*,
html,
body {
  box-sizing: border-box;
  margin-right: 0rem;
  margin-left: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-top: 0rem;
  font-family: var(--main-text-font);
  // line-height: 1.5rem;
  outline: none;
}

body,
html {
  width: 100%;
  font-family: var(--main-text-font);
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0rem;
  margin: 0;
  font-size: 1rem;
  color: rgba(8, 9, 44, 0.748);
}

html {
  font-family: var(--main-text-font);
  background-color: #fafafa;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }
}

html {
  .container {
    margin: 0rem 0rem;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .cdk-overlay-pane {
    snack-bar-container {
      background-color: #202020;

      simple-snack-bar {
        span {
          color: white;
          opacity: 1;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

/* хром, сафари */
*::-webkit-scrollbar {
  width: 0;
}

/* ie 10+ */
* {
  -ms-overflow-style: none;
}

.bread-crumb-wrapper {
  font-size: 14px;
}

a.xng-breadcrumb-link {
  // text-decoration: underline;
  cursor: pointer;
}

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0px;
}

.xng-breadcrumb-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.xng-breadcrumb-separator {
  padding: 0px 0px;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0px;
  color: black;
  font-weight: 500;
}

.mat-btn-wrapper {
  justify-content: center;
  vertical-align: middle;

  .mat-btn-service {
    bottom: 2px;
    height: 55px;
    position: relative;
    top: 3.5px;
    padding-left: 30px;
    border-radius: 30px;
    background-color: rgb(32, 32, 32);

    mat-icon {
      position: relative;
      bottom: 1.9px;
    }
  }

  .mat-btn-service:hover,
  .mat-btn-service:focus,
  .mat-btn-servicen:active {
    background-color: #000000;
  }
}
