.basket-totals-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  // background-color: rgb(234, 245, 220);
  align-items: center;
  vertical-align: middle;
  margin-bottom: 20px;
  // margin-top: 20px;

  .totals {
    height: 100%;
    // background-color: rgb(160, 156, 156);
    vertical-align: middle;
    align-items: center;

    .info {
      // background-color: rgb(255, 254, 188);
      width: 100%;
      margin-bottom: 10px;

      b {
        font-size: 22px;
        // margin-left: 5px;
      }
    }
  }
}
