<!-- специальное меню -->
<!-- <div class="nav-item-user-spec-menu" [ngClass]="{'hidden': topMenu}">
  <div class="city-change" id="top_menu">
    <div class="city-change-wrapp">
      <div class="city-change__head" *ngIf="(currentUser$ | async)">
        <b class="city-change__title">
          Личный кабинет </b>
        <p class="city-change__info">{{(currentUser$ | async).email}}</p>
      </div>
      <ul class="account-links">
        <li><a href="/management" class="active">Мои заявки</a></li>
        <li><a href="/bank_admin/statistics">Статистика</a></li>
        <li><a href="/bank_admin/last_step/ooo">Остановки ООО</a></li>
        <li><a href="/bank_admin/last_step/ip">Остановки ИП</a></li>
        <li><a href="/bank_admin/branches">Отделения</a></li>
        <li><a href="/bank_admin/users">Пользователи</a></li>
        <li><a href="/bank_admin/specific_fns">ИФНС: коды</a></li>
        <li><a href="/bank_admin/advanced_ifns_docs">ИФНС: пакеты</a></li>
      </ul>
    </div>
  </div>
</div> -->
<!-- завершение специальное меню -->

<div class="nav-item-user-spec-menu">
  <div class="city-change" id="top_menu">
    <ul>
      <li routerLinkActive="active-menu" [routerLink]="['/config']">
        <a>
          <i class="material-icons">face</i>
          Профиль
        </a>
      </li>
      <li routerLinkActive="active-menu" [routerLink]="['/orders']">
        <a>
          <i class="material-icons">local_shipping</i>
          Мои покупки
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="material-icons">exit_to_app</i>
          Выйти
        </a>
      </li>

      <!-- <div *ngIf="accountService.checkAdminRights()"> -->
      <li routerLinkActive="active-menu" [routerLink]="['/admin/products']">
        <a>
          <i class="material-icons">list</i>
          Список продуктов
        </a>
      </li>
      <li routerLinkActive="active-menu" [routerLink]="['/config']">
        <a>
          <i class="material-icons">category</i>
          Настройки продуктов
        </a>
      </li>
      <li>
        <a>
          <i class="material-icons">supervised_user_circle</i>
          Список пользователей
        </a>
      </li>
      <!-- </div> -->
    </ul>
  </div>
</div>